<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hannesdorfmann.swipeback.example" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hannesdorfmann.swipeback.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hannesdorfmann.swipeback.example.simple.SimpleActivity"
            android:label="@string/simple_activity" />
        <activity
            android:name="com.hannesdorfmann.swipeback.example.slide.SlideActivity"
            android:label="@string/slide_activity" />
        <activity
            android:name="com.hannesdorfmann.swipeback.example.viewpager.ViewPagerActivity"
            android:label="@string/viewpager_activity" />
        
        <activity android:name="com.hannesdorfmann.swipeback.example.overlay.OverlayActivity"
            android:label="@string/overlay_activity"
            />
    </application>

</manifest>
